$base-margin: 16px;

.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  padding: $base-margin;
}

.SettingForm {
  max-width: 420px;
  margin-bottom: $base-margin * 2;

  .form-group {
    &:not(:last-child) {
      margin-bottom: $base-margin;
    }
  }

  .field-columns {
    display: flex;
    .field {
      &:not(:last-child) {
        margin-right: $base-margin;
      }
    }
  }

  .events-list {
    margin-top: $base-margin;
  }

  .event {
    margin-bottom: $base-margin;
    > label {
      display: inline-block;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}
